@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400,700,900');

.header  {
    font: 300 20px  'Merriweather', serif;
     clear: both;
     line-height: 40px;
     color: #444;
     text-align: center;
}
.header span{ float: left;  display: block;}
.header:after{
    content: '';
    display: block;
    clear: both;
}
.prev, .next{width: 15%; font-size: 12px}
.title{
   
    text-transform: capitalize;
    width: 70%
}
.future-calendar{
    
    width: 280px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -75%);

    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;

}
.dates{
    margin-top: 10px;
    padding-top: 15px;
    border-top: 1px solid #ddd;
}
.date{
    display: block;
    float: left;
    text-align: center;
    width: 40px;
    line-height: 40px;
    font-weight: 900;
    color: #ddd;
    font-size: 11px;
    font-family:  'Merriweather', serif;
}

.today.active{
    background: #7f89d4;
    color: #fff;
    transform: scale(1.15);
    box-shadow: 0px 0px 30px #999;
    border-radius: 2px;
}

.date:nth-child(7n+1) {
    clear: both;
}

.active{
    color: #555;
}
 